@charset "utf-8";
/* CSS Document */
body > form
{
    background-image:url(https://orgws.kcg.gov.tw/001/KcgOrgUploadFiles/409/sites/pagebackimage/ef308fd3-c8b6-4238-bb3f-06f1c24f8b4e.png) ;;
}
.topbg .toplog .toplog h1 a {background-image:url(https://orgws.kcg.gov.tw/001/KcgOrgUploadFiles/409/sites/pagebackimage/619d0ec0-e259-4809-9cad-5bdf7e836ef8.png);background-position: center;background-repeat: no-repeat;}
@media (min-width: 240px) and (max-width: 767px){	.topbg .toplog h1 a{ /*上方Logo-mobile*/		background-image: url(https://orgws.kcg.gov.tw/001/KcgOrgUploadFiles/409/sites/pagebackimage/619d0ec0-e259-4809-9cad-5bdf7e836ef8.png);		background-position: center;		background-repeat: no-repeat;	}}@media (min-width: 768px) and (max-width: 960px){		.topbg .toplog h1 a{ /*上方Logo-pad*/		background-image: url(https://orgws.kcg.gov.tw/001/KcgOrgUploadFiles/409/sites/pagebackimage/619d0ec0-e259-4809-9cad-5bdf7e836ef8.png);		background-position: center;		background-repeat: no-repeat;	}}.topbg{
    background-image:url(https://orgws.kcg.gov.tw/001/KcgOrgUploadFiles/409/sites/pagebackimage/0a8cad4f-189b-4e19-bcae-11efd797aa95.png) ;;
}

